<!DOCTYPE html>
<html ng-app="DemoApp">
    <head>
        <meta charset="UTF-8">
        <title>angular-carousel demo</title>
        <meta name="viewport" content="width=620, user-scalable=no">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='./dist/angular-carousel.css' rel='stylesheet' type='text/css'>
        <link href='./demo/demo.css' rel='stylesheet' type='text/css'>
    </head>
    <body ng-controller="DemoCtrl">
        <a href="https://github.com/revolunet/angular-carousel"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

        <div class="center">
            <div>
                <input type=number ng-model="carouselIndex">
                <ul rn-carousel rn-carousel-controls rn-carousel-index="carouselIndex" rn-carousel-transition="none" rn-carousel-buffered class="carousel1">
                    <li ng-repeat="slide in slides track by slide.id" ng-class="'id-' + slide.id">
                        <div ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">
                          id: {{ slide.id }}<br>
                          {{ slide.img }}
                        </div>
                    </li>
                </ul>
                <div rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"></div>
                <div>
                    <button ng-click="carouselIndex=carouselIndex-1">prev</button>
                    {{ (carouselIndex + 1) }} / {{ slides.length }}
                    <button ng-click="carouselIndex=carouselIndex+1">next</button>
                </div>
            </div>
            
            <div>
                <input type=number ng-model="carouselIndex2">
                <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide="3" rn-carousel-buffered class="carousel2">
                    <li ng-repeat="slide in slides2 track by slide.id" ng-class="'id-' + slide.id">
                        <div ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">
                          id: {{ slide.id }}<br>
                          {{ slide.img }}
                        </div>
                    </li>
                </ul>
                <div>
                    <span class="carousel-indicator" ng-repeat="slide in slides2" ng-click="$parent.carouselIndex2=$index" ng-style="{color: $index==carouselIndex2?'white':'#666'}">●</span>
                </div>
                <div>
                    <button ng-click="carouselIndex2=carouselIndex2-1">prev</button>
                    {{ (carouselIndex2 + 1) }} / {{ slides2.length }}
                    <button ng-click="carouselIndex2=carouselIndex2+1">next</button>
                </div>
            </div>
            <br>
            <div >
                <ul rn-carousel rn-carousel-index="carouselIndex3" rn-carousel-transition="hexagon" rn-carousel-buffered class="carousel3">
                    <li ng-repeat="slide in slides3 track by slide.id">
                        <div ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">
                          id: {{ slide.id }}<br>
                          {{ slide.img }}
                        </div>
                    </li>
                </ul>
            </div>
            <br>
            <div >
                <ul rn-carousel rn-carousel-index="carouselIndex3" rn-carousel-transition="zoom" rn-carousel-buffered class="carousel3">
                    <li ng-repeat="slide in slides3 track by slide.id">
                        <div ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">
                          id: {{ slide.id }}<br>
                          {{ slide.img }}
                        </div>
                    </li>
                </ul>
            </div>
            <br>
            <div >
                <ul rn-carousel rn-carousel-index="carouselIndex4" rn-carousel-transition="fadeAndSlide" rn-carousel-buffered class="carousel4">
                    <li ng-repeat="slide in slides4 track by slide.id">
                        <div ng-style="{'background-image': 'url(' + slide.img + ')'}" class="bgimage">
                          id: {{ slide.id }} / {{ slides2.length }}<br>
                          {{ slide.img }}
                        </div>
                    </li>
                </ul>
            </div>
            <br>
            <div >
                <ul rn-carousel rn-carousel-index="3" rn-carousel-auto-slide="3" class="carousel5">
                    <li>Slide 1</li>
                    <li>Slide 2</li>
                    <li>Slide 3</li>
                    <li>Slide 4</li>
                    <li>Slide 5</li>
                    <li>Slide 6</li>
                    <li>Slide 7</li>
                    <li>Slide 8</li>
                    <li>Slide 9</li>
                </ul>
            </div>
        </div>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.min.js"></script>
    
    <!--<script src="./dist/angular-carousel.js"></script> -->
    <script src="./src/angular-carousel.js"></script>
    <script src="./src/directives/rn-carousel.js"></script>
    <script src="./src/directives/rn-carousel-indicators.js"></script>
    <script src="./src/directives/sliceFilter.js"></script>
    <script src="./src/directives/shifty.js"></script>
    <script>
        angular.module('DemoApp', [
            'angular-carousel'
        ])

        .controller('DemoCtrl', function($scope) {

            $scope.colors = ["#fc0003", "#f70008", "#f2000d", "#ed0012", "#e80017", "#e3001c", "#de0021", "#d90026", "#d4002b", "#cf0030", "#c90036", "#c4003b", "#bf0040", "#ba0045", "#b5004a", "#b0004f", "#ab0054", "#a60059", "#a1005e", "#9c0063", "#960069", "#91006e", "#8c0073", "#870078", "#82007d", "#7d0082", "#780087", "#73008c", "#6e0091", "#690096", "#63009c", "#5e00a1", "#5900a6", "#5400ab", "#4f00b0", "#4a00b5", "#4500ba", "#4000bf", "#3b00c4", "#3600c9", "#3000cf", "#2b00d4", "#2600d9", "#2100de", "#1c00e3", "#1700e8", "#1200ed", "#0d00f2", "#0800f7", "#0300fc"];

            function addSlide(target, style) {
                var i = target.length;
                target.push({
                    id: (i + 1),
                    label: 'slide #' + (i + 1),
                    img: 'http://lorempixel.com/450/300/' + style + '/' + ((i + 1) % 10) ,
                    color: $scope.colors[ (i*10) % $scope.colors.length],
                    odd: (i % 2 === 0)
                });
            };

            $scope.carouselIndex = 0;
            $scope.carouselIndex2 = 0;
            $scope.carouselIndex3 = 5;
            $scope.carouselIndex4 = 5;

            function addSlides(target, style, qty) {
                for (var i=0; i < qty; i++) {
                    addSlide(target, style);
                }
            }

            // 1st ngRepeat demo
            $scope.slides = [];
            addSlides($scope.slides, 'sports', 10);

            // 2nd ngRepeat demo
            $scope.slides2 = [];
            addSlides($scope.slides2, 'sports', 10);

            // 3rd ngRepeat demo
            $scope.slides3 = [];
            addSlides($scope.slides3, 'people', 50);

            // 4th ngRepeat demo
            $scope.slides4 = [];
            addSlides($scope.slides4, 'city', 50);

        });

    </script>
</html>
