<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-height, user-scalable=no">
    <link href='./styles.css' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Andika&subset=latin" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="revo gallery">
    <title>revolunet Flickr Gallery</title>
  </head>
  <body ng-app="myApp" ng-controller='demoController'>

    <div style="display:none">
      <div id="lazySpinner">
        <div class="loading" ng-show="loading">
          <span class="ouro">
            <span class="left"><span class="anim"></span></span>
            <span class="right"><span class="anim"></span></span>
          </span>
        </div>
      </div>
    </div>

    <div class="ng-cloak enable_touchmove" snap-shelves="">
      <div id="shelf-1" snap-shelf="">
        <ul class="list ">
            <li class="close"> <span ng-click="snapper.close()" aria-hidden="true" class="icon-cancel"></span></li>
            <li class="list-divider">PHOTOGRAPHY</li>
              <li ng-click="load('fashion fine art black white photography');snapper.close()">Fashion</li>
              <li ng-click="load('portrait black white fine arts photography');snapper.close()">Portrait</li>
              <li ng-click="load('black white architecture arts photography');snapper.close()">Architecture</li>
              <li ng-click="load('black white fine art photography');snapper.close()">Fine Arts</li>
            <li class="list-divider">GRAPHIC DESIGN</li>
              <li ng-click="load('illustration design');snapper.close()">Illustration</li>
              <li ng-click="load('typography lettering design');snapper.close()">Typography</li>
              <li ng-click="load('poster design');snapper.close()">Posters</li>
            <li class="list-divider">FLYERS</li>
              <li ng-click="load('flyer concert');snapper.close()">Concerts</li>
              <li ng-click="load('cinema poster');snapper.close()">Cinema</li>
        </ul>
      </div>
    </div>

    <div id="content" snap-content="" class="enable_touchmove" snap-options='{ "maxPosition": 200, "touchToDrag": false }'>
      <header class="bar-title">
        <a class="button nav" href='#' ng-click="snapper.toggle('left')">
          <span aria-hidden="true" class="icon-menu"></span>
        </a>
        <h1 class="title">AngularJS Carousel + Flickr demo</h1>
        <a class="info" href="http://github.com/revolunet/angular-carousel">
          <span aria-hidden="true" class="icon-info-sign"></span>
        </a>
      </header>

      <div class="loading" ng-show="loading">
          <span class="ouro">
            <span class="left"><span class="anim"></span></span>
            <span class="right"><span class="anim"></span></span>
          </span>
      </div>

      <ul rn-carousel rn-carousel-buffered class="page-container" ng-class="{blurred: blurred}">
        <li ng-repeat="page in pages">
          <div class="page {{ page.tpl }}" ng-class="{active: ($index == activeIndex) }">
            <div ng-repeat="item in page" ng-click="toggle(item)" ng-class="item.cls">
              <div class="img" ng-style="{'background-image': 'url(\'' + item.image + '_n.jpg\')'}">
                <div class="caption">{{ item.title|words:10 }}</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div id="modal" ng-show="showModal" class="ng-cloak" ng-class="modalCls" ng-click="closeModal()" lazy-loader="#lazySpinner" lazy-background="current.image + '_c.jpg'">

      <div id="infos" ng-show="showModal" class="ng-cloak" ng-class="modalCls">
        <h2>Created by :</h2>
        <a href="http://www.revolunet.com">
          <img src="./img/revolunetcom.png" alt="" title="" width="162" height="196">
        </a>
        <a class="git" href="https://github.com/revolunet/angular-carousel">Github Project</a>
      </div>

    </div>

    <script src="//code.angularjs.org/1.1.4/angular.js"></script>
    <script src="../../lib/angular-mobile.js"></script>
    <script src="./angular-snap.min.js"></script>
    <script src="./truncate.js"></script>
    <script src="./snap.js"></script>
    <script src="./lazy.js"></script>

    <script src="../../src/angular-carousel.js"></script>

    <script src="./app.js"></script>

  </body>
</html>

