/* line 6, scss/base.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 12, scss/base.scss */
body {
  margin: 0;
  background: #ecf0f1;
  color: white;
  font-family: "Andika", sans-serif;
  overflow-y: hidden;
}

/* line 19, scss/base.scss */
* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: 'icomoon';
  src: url(../flickr-full/font/icomoon.eot);
  src: url(../flickr-full/font/icomoon.eot?#iefix) format("embedded-opentype"), url(../flickr-full/font/icomoon.woff) format("woff"), url(../flickr-full/font/icomoon.ttf) format("truetype"), url(../flickr-full/font/icomoon.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 40, scss/base.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 51, scss/base.scss */
.icon-menu, .icon-cancel, .icon-info-sign {
  font-family: 'icomoon';
  display: inline-block;
  color: white;
  speak: none;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 64, scss/base.scss */
.icon-menu:before {
  display: inline-block;
  content: "\e000";
}

/* line 68, scss/base.scss */
.icon-cancel:before {
  content: "\e001";
}

/* line 71, scss/base.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 79, scss/base.scss */
.page {
  position: relative;
  width: 101%;
  height: 100%;
  overflow: hidden;
}

/* line 86, scss/base.scss */
.page > div {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
}
/* line 91, scss/base.scss */
.page > div .img {
  background-size: cover;
  background-position: center;
  background-image: url(../flickr-full/img/placeholder-img.svg);
  padding-right: 2px;
  display: block;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* line 101, scss/base.scss */
.page > div .caption {
  background: rgba(224, 224, 224, 0.62);
  font-size: 1em;
  padding: 5px;
  line-height: 1.3em;
  color: #111111;
  position: absolute;
  width: 100%;
  bottom: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 2;
}

/* line 116, scss/base.scss */
#modal {
  background-image: url(../flickr-full/img/placeholder-img.svg) no-repeat cover;
}

/* line 121, scss/base.scss */
.blurred {
  -webkit-filter: blur(10px);
}

/* line 131, scss/base.scss */
.page-5-1 > div:nth-child(1) {
  width: 66%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-1 > div:nth-child(2) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-1 > div:nth-child(3) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-1 > div:nth-child(4) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-1 > div:nth-child(5) {
  width: 33%;
  height: 50%;
}

/* line 131, scss/base.scss */
.page-5-2 > div:nth-child(1) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-2 > div:nth-child(2) {
  width: 66%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-2 > div:nth-child(3) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-2 > div:nth-child(4) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-2 > div:nth-child(5) {
  width: 33%;
  height: 50%;
}

/* line 131, scss/base.scss */
.page-5-3 > div:nth-child(1) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-3 > div:nth-child(2) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-3 > div:nth-child(3) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-3 > div:nth-child(4) {
  width: 66%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-3 > div:nth-child(5) {
  width: 33%;
  height: 50%;
}

/* line 131, scss/base.scss */
.page-5-4 > div:nth-child(1) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-4 > div:nth-child(2) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-4 > div:nth-child(3) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-4 > div:nth-child(4) {
  width: 33%;
  height: 50%;
}
/* line 131, scss/base.scss */
.page-5-4 > div:nth-child(5) {
  width: 66%;
  height: 50%;
}

/* line 6, scss/assets/title-bar.scss */
[class*="bar-"] {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 45px;
  padding: 5px;
  box-sizing: border-box;
}

/* Title bar
-------------------------------------------------- */
/* Bar docked to top of viewport for showing page title and actions */
/* line 20, scss/assets/title-bar.scss */
.bar-title {
  top: 0;
  line-height: 45px;
  background: #2980b9;
  line-height: 35px;
}
/* line 30, scss/assets/title-bar.scss */
.bar-title .info {
  float: right;
}

/* Centered text in the .bar-title */
/* line 36, scss/assets/title-bar.scss */
.bar-title .title {
  position: absolute;
  line-height: 45px;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

/* Retain specified title color */
/* line 56, scss/assets/title-bar.scss */
.bar-title .title a {
  color: inherit;
}

/* Generic style for all buttons in .bar-title */
/* line 61, scss/assets/title-bar.scss */
.bar-title [class*="button"] {
  position: relative;
  text-decoration: none;
  z-index: 10;
  /* Places buttons over full width title */
  font-size: 16px;
  line-height: 35px;
  color: #fff;
}

/* Hacky way to right align buttons outside of flex-box system
   Note: is only absolutely positioned button, would be better if flex-box had an "align right" option */
/* line 78, scss/assets/title-bar.scss */
.bar-title .title + [class*="button"]:last-child,
.bar-title .button + [class*="button"]:last-child,
.bar-title [class*="button"].pull-right {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Override standard button active states */
/* line 85, scss/assets/title-bar.scss */
.bar-title .button:active {
  color: #fff;
  background-color: #0876b1;
}

/* line 7, scss/assets/navigation.scss */
.ngSnap.ngSnap-content,
.ngSnap.ngSnap-shelves,
.ngSnap .ngSnap-shelf {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 12, scss/assets/navigation.scss */
.ngSnap .ngSnap-shelf {
  overflow-y: auto;
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  transition: top 0.2s linear;
  -webkit-transition: bottom 0.2s linear;
  -moz-transition: bottom 0.2s linear;
  -o-transition: bottom 0.2s linear;
  transition: bottom 0.2s linear;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

/* line 27, scss/assets/navigation.scss */
.ngSnap .ngSnap-shelf.right {
  right: 0;
}

/* line 30, scss/assets/navigation.scss */
ul.list {
  font-size: 0.8em;
  margin-left: -40px;
  margin-top: 0;
  width: 200px !important;
}

/* line 37, scss/assets/navigation.scss */
ul.list li {
  font-family: "Arvo", sans-serif;
  padding: 10px;
  background-color: #ecf0f1;
  border-bottom: 1px solid #f8f9fa;
  color: #111111;
}
/* line 44, scss/assets/navigation.scss */
ul.list li.close {
  text-align: center;
  height: 45px;
  line-height: 45px;
  background-color: #2980b9;
  padding: 0;
  border-bottom: none;
}

/* line 53, scss/assets/navigation.scss */
ul.list li.list-divider {
  font-family: "Andika", sans-serif;
  background: #236fa0;
  color: white;
  font-size: 1em;
  padding: 8px 5px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

/* line 64, scss/assets/navigation.scss */
.loading {
  width: 100%;
  height: 100%;
  background: #333;
  font-size: 22px;
}

/* line 70, scss/assets/navigation.scss */
.ngSnap-shelf {
  overflow-x: hidden;
}

/*
generic styles applied to any carousel
must be ul/li
*/
/* line 5, scss/assets/carousel.scss */
.rn-carousel-container {
  overflow: hidden;
}

/* line 8, scss/assets/carousel.scss */
ul.rn-carousel-slides {
  position: relative;
  white-space: nowrap;
  overflow: visible;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  padding: 0;
  margin: 0;
}

/* line 18, scss/assets/carousel.scss */
ul.rn-carousel-slides li {
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 27, scss/assets/carousel.scss */
.rn-carousel-animate {
  -webkit-transition: -webkit-transform .2s ease-out;
  -moz-transition: -moz-transform .2s ease-out;
  transition: transform .2s ease-out;
}

/* line 32, scss/assets/carousel.scss */
.rn-carousel-noanimate {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 39, scss/assets/carousel.scss */
.rn-carousel-indicator {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 20px;
  height: 20px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 48, scss/assets/carousel.scss */
.rn-carousel-indicator span {
  padding: 0 5px;
  color: #333;
  transition: color .2s ease-out;
}

/* line 53, scss/assets/carousel.scss */
.rn-carousel-indicator span.active {
  color: white;
}

/* line 62, scss/assets/carousel.scss */
.rn-carousel-container {
  position: absolute;
  top: 45px;
  bottom: 0px;
  width: 101% !important;
}

/* line 68, scss/assets/carousel.scss */
.rn-carousel-slides {
  height: 100%;
  transition: -webkit-filter 0.3s ease-in !important;
}

/* line 72, scss/assets/carousel.scss */
.ng-cloak {
  display: none;
}

/* line 75, scss/assets/carousel.scss */
#content {
  height: 100%;
  width: 100% !important;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

/* line 80, scss/assets/carousel.scss */
#content > div {
  background-color: #ecf0f1;
}

/*
======================================================
       CSS LOADER COURTESY OF @geoffrey_crofte
       http://codepen.io/CreativeJuiz/pen/vFBIh
======================================================
 */
/* line 8, scss/assets/loader.scss */
.loading {
  width: 96px;
  height: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
}
/* line 15, scss/assets/loader.scss */
.loading .spacer {
  height: 20%;
}

/* line 19, scss/assets/loader.scss */
.ouro {
  position: relative;
  display: inline-block;
  height: 96px;
  width: 96px;
  margin: -48px 0 0 -48px;
  border-radius: 50%;
  background: none repeat scroll 0 0 #fff;
  overflow: hidden;
}

/* line 32, scss/assets/loader.scss */
.ouro:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  height: 56px;
  width: 56px;
  background: none repeat scroll 0 0 #2980b9;
  border-radius: 50%;
}

/* line 43, scss/assets/loader.scss */
.ouro .anim {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 999px;
  background: none repeat scroll 0 0 #94c6e7;
  -webkit-animation: ui-spinner-rotate-left 2s infinite;
  animation: ui-spinner-rotate-left 2s infinite;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}

/* line 56, scss/assets/loader.scss */
.ouro > span {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
/* line 60, scss/assets/loader.scss */
.ouro > span.left {
  left: 0;
}
/* line 62, scss/assets/loader.scss */
.ouro > span.left .anim {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/* line 67, scss/assets/loader.scss */
.ouro > span.right {
  left: 50%;
}
/* line 69, scss/assets/loader.scss */
.ouro > span.right .anim {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  left: -100%;
  -webkit-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
}

@keyframes ui-spinner-rotate-right {
  /* line 83, scss/assets/loader.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 87, scss/assets/loader.scss */
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ui-spinner-rotate-left {
  /* line 90, scss/assets/loader.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 94, scss/assets/loader.scss */
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ui-spinner-rotate-right {
  /* line 98, scss/assets/loader.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 102, scss/assets/loader.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes ui-spinner-rotate-left {
  /* line 105, scss/assets/loader.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 109, scss/assets/loader.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* line 1, scss/assets/modal.scss */
#modal, #infos {
  opacity: 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  position: absolute;
  top: 45px;
  bottom: 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 2px solid white;
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.5);
  color: black;
  padding: 0;
  margin: 5% 10%;
  width: 80%;
  height: 80%;
}
/* line 21, scss/assets/modal.scss */
#modal p, #infos p {
  margin: 0;
  width: 90%;
  height: 100%;
  overflow: hidden;
  float: left;
  font-size: .8em;
}
/* line 29, scss/assets/modal.scss */
#modal .closebtn, #infos .closebtn {
  float: right;
  font-weight: bold;
  font-size: 1.3em;
  color: #164666;
}
/* line 37, scss/assets/modal.scss */
#modal .closebtn:hover, #infos .closebtn:hover {
  cursor: pointer;
}
/* line 41, scss/assets/modal.scss */
#modal .title, #infos .title {
  background: rgba(255, 255, 255, 0.9);
  height: 35px;
  line-height: 35px;
  color: #333;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
/* line 53, scss/assets/modal.scss */
#modal.open, #infos.open {
  opacity: 1;
}

/* line 58, scss/assets/modal.scss */
#infos {
  width: 40%;
  height: 50%;
  margin: 15% 30%;
  text-align: center;
}
/* line 63, scss/assets/modal.scss */
#infos h2 {
  margin: 0;
  padding: 10px 0;
  display: block;
  background: white;
}
/* line 69, scss/assets/modal.scss */
#infos a {
  display: block;
}
/* line 72, scss/assets/modal.scss */
#infos img {
  margin-top: 10px;
}
/* line 75, scss/assets/modal.scss */
#infos .git {
  margin-top: 20px;
  color: black;
  text-decoration: none;
}
