html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  background: #ececec;
  color: white;
  font-family: "Andika", sans-serif;
  overflow-y: hidden; }

* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@font-face {
  font-family: 'icomoon';
  src: url(../flickr-full/font/icomoon.eot);
  src: url(../flickr-full/font/icomoon.eot?#iefix) format("embedded-opentype"), url(../flickr-full/font/icomoon.woff) format("woff"), url(../flickr-full/font/icomoon.ttf) format("truetype"), url(../flickr-full/font/icomoon.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

.icon-menu, .icon-cancel {
  font-family: 'icomoon';
  color: white;
  speak: none;
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

.icon-menu:before {
  display: inline-block;
  content: "\e000"; }

.icon-cancel:before {
  content: "\e001"; }

.page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.page > div {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden; }
  .page > div .img {
    background-size: cover;
    background-position: center;
    padding-right: 2px;
    display: block;
    height: 100%;
    position: relative;
    z-index: 1; }
  .page > div .layer {
    background: rgba(224, 224, 224, 0.62);
    font-size: 1em;
    padding: 5px;
    line-height: 1.3em;
    color: #111;
    position: absolute;
    width: 100%;
    bottom: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 2; }

.blurred {
  -webkit-filter: blur(10px); }

.page-5-1 > div:nth-child(1) {
  width: 66.66%;
  height: 50%; }
.page-5-1 > div:nth-child(2) {
  width: 33.33%;
  height: 50%; }
.page-5-1 > div:nth-child(3) {
  width: 33.33%;
  height: 50%; }
.page-5-1 > div:nth-child(4) {
  width: 33.33%;
  height: 50%; }
.page-5-1 > div:nth-child(5) {
  width: 33.33%;
  height: 50%; }

.page-5-2 > div:nth-child(1) {
  width: 33.33%;
  height: 50%; }
.page-5-2 > div:nth-child(2) {
  width: 66.66%;
  height: 50%; }
.page-5-2 > div:nth-child(3) {
  width: 33.33%;
  height: 50%; }
.page-5-2 > div:nth-child(4) {
  width: 33.33%;
  height: 50%; }
.page-5-2 > div:nth-child(5) {
  width: 33.33%;
  height: 50%; }

.page-5-3 > div:nth-child(1) {
  width: 33.33%;
  height: 50%; }
.page-5-3 > div:nth-child(2) {
  width: 33.33%;
  height: 50%; }
.page-5-3 > div:nth-child(3) {
  width: 33.33%;
  height: 50%; }
.page-5-3 > div:nth-child(4) {
  width: 66.66%;
  height: 50%; }
.page-5-3 > div:nth-child(5) {
  width: 33.33%;
  height: 50%; }

.page-5-4 > div:nth-child(1) {
  width: 33.33%;
  height: 50%; }
.page-5-4 > div:nth-child(2) {
  width: 33.33%;
  height: 50%; }
.page-5-4 > div:nth-child(3) {
  width: 33.33%;
  height: 50%; }
.page-5-4 > div:nth-child(4) {
  width: 33.33%;
  height: 50%; }
.page-5-4 > div:nth-child(5) {
  width: 66.66%;
  height: 50%; }

[class*="bar-"] {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 49px;
  padding: 5px;
  box-sizing: border-box; }

/* Title bar
-------------------------------------------------- */
/* Bar docked to top of viewport for showing page title and actions */
.bar-title {
  top: 0;
  display: -webkit-box;
  display: box;
  line-height: 49px;
  background: #2980b9;
  box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, 0.8);
  -webkit-box-orient: horizontal;
  box-orient: horizontal; }

/* Centered text in the .bar-title */
.bar-title .title {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 24.5px;
  color: white;
  text-align: center;
  white-space: nowrap; }

.bar-title > a:not([class*="button"]) {
  display: block;
  width: 100%;
  height: 100%; }

/* Retain specified title color */
.bar-title .title a {
  color: inherit; }

/* Generic style for all buttons in .bar-title */
.bar-title [class*="button"] {
  position: relative;
  text-decoration: none;
  z-index: 10;
  /* Places buttons over full width title */
  font-size: 16px;
  line-height: 39px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-flex: 0;
  box-flex: 0; }

/* Hacky way to right align buttons outside of flex-box system
   Note: is only absolutely positioned button, would be better if flex-box had an "align right" option */
.bar-title .title + [class*="button"]:last-child,
.bar-title .button + [class*="button"]:last-child,
.bar-title [class*="button"].pull-right {
  position: absolute;
  top: 5px;
  right: 5px; }

/* Override standard button active states */
.bar-title .button:active {
  color: #fff;
  background-color: #0876b1; }

.ngSnap.ngSnap-content,
.ngSnap.ngSnap-shelves,
.ngSnap .ngSnap-shelf {
  position: absolute;
  width: 100%;
  height: 100%; }

.ngSnap .ngSnap-shelf {
  overflow-y: auto;
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  transition: top 0.2s linear;
  -webkit-transition: bottom 0.2s linear;
  -moz-transition: bottom 0.2s linear;
  -o-transition: bottom 0.2s linear;
  transition: bottom 0.2s linear;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch; }

.ngSnap .ngSnap-shelf.right {
  right: 0; }

ul.list {
  background-color: #333;
  font-size: 0.8em;
  margin-left: -40px;
  margin-top: 0;
  width: 200px !important; }

ul.list li {
  font-family: "Arvo", sans-serif;
  padding: 15px;
  background-color: #ececec;
  border-bottom: 1px solid #f6f6f6;
  color: #2980b9; }
  ul.list li.close {
    text-align: center;
    height: 49px;
    line-height: 49px;
    padding: 0;
    border-bottom: none;
    background-color: #2980b9; }

ul.list li.list-divider {
  font-family: "Andika", sans-serif;
  background: #558ead;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
  padding: 12px 5px; }

.loading {
  width: 100%;
  height: 100%;
  background: #333;
  font-size: 22px; }

.ngSnap-shelf {
  overflow-x: hidden; }

.rn-carousel-container {
  position: absolute;
  top: 45px;
  bottom: 0px;
  width: 100% !important; }

.rn-carousel-slides {
  height: 100%;
  transition: -webkit-filter 0.3s ease-in !important; }

.ng-cloak {
  display: none; }

#content {
  height: 100%;
  width: 100% !important; }

#content > div {
  background-color: #ececec; }

.loading {
  text-align: center;
  background-color: #ececec; }
  .loading .spacer {
    height: 20%; }

.ouro {
  position: relative;
  display: inline-block;
  height: 96px;
  width: 96px;
  margin: 1em;
  border-radius: 50%;
  background: none repeat scroll 0 0 #fff;
  overflow: hidden; }

.ouro:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  height: 56px;
  width: 56px;
  background: none repeat scroll 0 0 #2980b9;
  border-radius: 50%; }

.ouro .anim {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 999px;
  background: none repeat scroll 0 0 #94c6e7;
  -webkit-animation: ui-spinner-rotate-left 2s infinite;
  animation: ui-spinner-rotate-left 2s infinite;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0; }

.ouro > span {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden; }
  .ouro > span.left {
    left: 0; }
    .ouro > span.left .anim {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
  .ouro > span.right {
    left: 50%; }
    .ouro > span.right .anim {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      left: -100%;
      -webkit-transform-origin: 100% 50% 0;
      transform-origin: 100% 50% 0; }

@keyframes ui-spinner-rotate-right {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

@keyframes ui-spinner-rotate-left {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes ui-spinner-rotate-right {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes ui-spinner-rotate-left {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

#modal {
  opacity: 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  position: absolute;
  top: 45px;
  bottom: 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 2px solid white;
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.5);
  color: black;
  padding: 0;
  margin: auto 5%;
  width: 90%;
  height: 80%; }
  #modal .closebtn {
    text-align: center;
    position: absolute;
    right: 0px;
    width: 50px;
    font-size: 2.5em;
    color: #2980b9; }
  #modal .title {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-right: 40px;
    box-sizing: border-box; }
  #modal.open {
    opacity: 1; }
