
.page {
    position:relative;
    width:100%;
    height: 100%;
    overflow: hidden;
}

.page > div {
    float:left;
    padding:1px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    overflow:hidden;
    div.img {
        background-size: cover;
        background-position:center center;
        border-radius:1px;
        display:block;
        height:100%;
        position:relative;
        z-index:1;
    }
    div.layer {
        background: rgba(255, 255, 255, 0.5);
        border-bottom-left-radius:1px;
        border-bottom-right-radius:1px;
        padding:5px;
        color:white;
        position:absolute;      // WTF
        width: 100%;
        bottom:0px;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        z-index:2;
    }
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

// generates a 5 items page with one big item somewhere
@mixin fullpage5($bigIndex:1) {
    @for $i from 1 through 5 {
        $width: 33.33%;
        &:nth-child(#{$i}) {
            @if ($i==$bigIndex) {
                $width: 66.66%;
            };
            width: $width;
            height: 50%;
        }
    }
}

// 4 simple combinations
.page1 > div {
    @include  fullpage5(1);
}
.page2 > div {
    @include  fullpage5(2);
}
.page3 > div {
    @include  fullpage5(4);
}
.page4 > div {
    @include  fullpage5(5);
}

// modifiers for the hide animations
.hide-top-from-bottom {
    height:0 !important;
    padding:0 !important;
}
.hide-top-from-top {
    height: 100% !important;
    width: 0 !important;
    padding:0 !important;
}
.hide-bottom-from-top {
    height: 0 !important;
    padding:0 !important;
}
.hide-bottom-from-bottom {
    height: 100% !important;
    width:0 !important;
    padding:0 !important;
}
.maximize {
    width: 100% !important;
    height: 100% !important;
    z-index:1000;
}




/* various */

html, body { 
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}
body {
  margin: 0;
  background: #333;
  color:white;
}
* {
  font-family: 'Droid Sans', sans-serif;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul li {
  list-style-type: none;

}
a {
  color:white;
}

div.layer {
  font-size:1em;
  color:#333 !important;
  font-weight:bold;
}

/* carousel customisation */
.rn-carousel-container {
  position:absolute;
  top:45px;
  bottom:0px;
  width:100% !important;
}
.rn-carousel-slides {
  height: 100%;
}
.ng-cloak {
  display:none;
}
div#content {
  height: 100%;
}
div#content > div {
  background-color: #333;
}
ul.list {
  background-color: #333;
  font-size: 0.8em;
  width:200px !important;
}
ul.list li {
      padding:15px;
    }
    ul.list li.list-divider {
      background-color: #555;
      background-image: -webkit-linear-gradient(top, #444 0, #555 100%);
      background-image: linear-gradient(to bottom, #444 0, #555 100%);
      border-top:1px solid #666;
      border-bottom:1px solid #666;
      box-shadow:none;
      text-shadow: none;
      font-size: 1em;
      padding:10px 5px;
    }
    div.loading {
      width:100%;
      height:100%;
      background: #333;
      font-size:22px;
    }
    div.ngSnap-shelf {
      overflow-x: hidden;
    }
