html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  background: #ecf0f1;
  color: white;
  font-family: 'Andika', sans-serif;
  overflow-y: hidden; }

* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@font-face {
  font-family: 'icomoon';
  src: url(../flickr-full/font/icomoon.eot);
  src: url(#{$fontUrl}icomoon.eot?#iefix) format('embedded-opentype'), url(../flickr-full/font/icomoon.woff) format('woff'), url(../flickr-full/font/icomoon.ttf) format('truetype'), url(#{$fontUrl}icomoon.svg#icomoon) format('svg');
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

.icon-menu, .icon-cancel, .icon-info-sign {
  font-family: 'icomoon';
  display: inline-block;
  color: white;
  speak: none;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

.icon-menu:before {
  display: inline-block;
  content: "\e000"; }

.icon-cancel:before {
  content: "\e001"; }

.icon-info-sign:before {
  content: "\f05a"; }

.page {
  position: relative;
  width: 101%;
  height: 100%;
  overflow: hidden; }

.page > div {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden; }
  .page > div .img {
    background-size: cover;
    background-position: center;
    background-image: url(../flickr-full/img/placeholder-img.svg);
    padding-right: 2px;
    display: block;
    height: 100%;
    position: relative;
    z-index: 1; }
  .page > div .caption {
    background: rgba(224, 224, 224, 0.62);
    font-size: 1em;
    padding: 5px;
    line-height: 1.3em;
    color: #111111;
    position: absolute;
    width: 100%;
    bottom: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 2; }

.blurred {
  -webkit-filter: blur(10px); }

.page-5-1 > div:nth-child(1) {
  width: 66%;
  height: 50%; }
.page-5-1 > div:nth-child(2) {
  width: 33%;
  height: 50%; }
.page-5-1 > div:nth-child(3) {
  width: 33%;
  height: 50%; }
.page-5-1 > div:nth-child(4) {
  width: 33%;
  height: 50%; }
.page-5-1 > div:nth-child(5) {
  width: 33%;
  height: 50%; }

.page-5-2 > div:nth-child(1) {
  width: 33%;
  height: 50%; }
.page-5-2 > div:nth-child(2) {
  width: 66%;
  height: 50%; }
.page-5-2 > div:nth-child(3) {
  width: 33%;
  height: 50%; }
.page-5-2 > div:nth-child(4) {
  width: 33%;
  height: 50%; }
.page-5-2 > div:nth-child(5) {
  width: 33%;
  height: 50%; }

.page-5-3 > div:nth-child(1) {
  width: 33%;
  height: 50%; }
.page-5-3 > div:nth-child(2) {
  width: 33%;
  height: 50%; }
.page-5-3 > div:nth-child(3) {
  width: 33%;
  height: 50%; }
.page-5-3 > div:nth-child(4) {
  width: 66%;
  height: 50%; }
.page-5-3 > div:nth-child(5) {
  width: 33%;
  height: 50%; }

.page-5-4 > div:nth-child(1) {
  width: 33%;
  height: 50%; }
.page-5-4 > div:nth-child(2) {
  width: 33%;
  height: 50%; }
.page-5-4 > div:nth-child(3) {
  width: 33%;
  height: 50%; }
.page-5-4 > div:nth-child(4) {
  width: 33%;
  height: 50%; }
.page-5-4 > div:nth-child(5) {
  width: 66%;
  height: 50%; }

[class*="bar-"] {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 45px;
  padding: 5px;
  box-sizing: border-box; }

/* Title bar
-------------------------------------------------- */
/* Bar docked to top of viewport for showing page title and actions */
.bar-title {
  top: 0;
  line-height: 45px;
  background: #2980b9;
  line-height: 35px; }
  .bar-title .info {
    float: right; }

/* Centered text in the .bar-title */
.bar-title .title {
  position: absolute;
  line-height: 45px;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  white-space: nowrap;
  margin: 0; }

/* Retain specified title color */
.bar-title .title a {
  color: inherit; }

/* Generic style for all buttons in .bar-title */
.bar-title [class*="button"] {
  position: relative;
  text-decoration: none;
  z-index: 10;
  /* Places buttons over full width title */
  font-size: 16px;
  line-height: 35px;
  color: #fff; }

/* Hacky way to right align buttons outside of flex-box system
   Note: is only absolutely positioned button, would be better if flex-box had an "align right" option */
.bar-title .title + [class*="button"]:last-child, .bar-title .button + [class*="button"]:last-child, .bar-title [class*="button"].pull-right {
  position: absolute;
  top: 5px;
  right: 5px; }

/* Override standard button active states */
.bar-title .button:active {
  color: #fff;
  background-color: #0876b1; }

.ngSnap.ngSnap-content, .ngSnap.ngSnap-shelves, .ngSnap .ngSnap-shelf {
  position: absolute;
  width: 100%;
  height: 100%; }

.ngSnap .ngSnap-shelf {
  overflow-y: auto;
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  transition: top 0.2s linear;
  -webkit-transition: bottom 0.2s linear;
  -moz-transition: bottom 0.2s linear;
  -o-transition: bottom 0.2s linear;
  transition: bottom 0.2s linear;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch; }

.ngSnap .ngSnap-shelf.right {
  right: 0; }

ul.list {
  font-size: 0.8em;
  margin-left: -40px;
  margin-top: 0;
  width: 200px !important; }

ul.list li {
  font-family: 'Arvo', sans-serif;
  padding: 10px;
  background-color: #ecf0f1;
  border-bottom: 1px solid #f8f9fa;
  color: #111111; }
  ul.list li.close {
    text-align: center;
    height: 45px;
    line-height: 45px;
    background-color: #2980b9;
    padding: 0;
    border-bottom: none; }

ul.list li.list-divider {
  font-family: 'Andika', sans-serif;
  background: #2370a0;
  color: white;
  font-size: 1em;
  padding: 8px 5px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black; }

.loading {
  width: 100%;
  height: 100%;
  background: #333;
  font-size: 22px; }

.ngSnap-shelf {
  overflow-x: hidden; }

.ngSnap-content {
  overflow-x: hidden; }

/*
generic styles applied to any carousel
must be ul/li
*/
.rn-carousel-container {
  overflow: hidden; }

ul.rn-carousel-slides {
  position: relative;
  white-space: nowrap;
  overflow: visible;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  padding: 0;
  margin: 0; }

ul.rn-carousel-slides li {
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.rn-carousel-animate {
  -webkit-transition: -webkit-transform .2s ease-out;
  -moz-transition: -moz-transform .2s ease-out;
  transition: transform .2s ease-out; }

.rn-carousel-noanimate {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.rn-carousel-indicator {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 20px;
  height: 20px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6); }

.rn-carousel-indicator span {
  padding: 0 5px;
  color: #333;
  transition: color .2s ease-out; }

.rn-carousel-indicator span.active {
  color: white; }

.rn-carousel-container {
  position: absolute;
  top: 45px;
  bottom: 0px;
  width: 101% !important; }

.rn-carousel-slides {
  height: 100%;
  transition: -webkit-filter 0.3s ease-in !important; }

.ng-cloak {
  display: none; }

#content {
  height: 100%;
  width: 100% !important;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5); }

#content > div {
  background-color: #ecf0f1; }

/*
======================================================
       CSS LOADER COURTESY OF @geoffrey_crofte
       http://codepen.io/CreativeJuiz/pen/vFBIh
======================================================
 */
.loading {
  width: 96px;
  height: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent; }
  .loading .spacer {
    height: 20%; }

.ouro {
  position: relative;
  display: inline-block;
  height: 96px;
  width: 96px;
  margin: -48px 0 0 -48px;
  border-radius: 50%;
  background: none repeat scroll 0 0 #fff;
  overflow: hidden; }

.ouro:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  height: 56px;
  width: 56px;
  background: none repeat scroll 0 0 #2980b9;
  border-radius: 50%; }

.ouro .anim {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 999px;
  background: none repeat scroll 0 0 #94c7e7;
  -webkit-animation: ui-spinner-rotate-left 2s infinite;
  animation: ui-spinner-rotate-left 2s infinite;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0; }

.ouro > span {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden; }
  .ouro > span.left {
    left: 0; }
    .ouro > span.left .anim {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
  .ouro > span.right {
    left: 50%; }
    .ouro > span.right .anim {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      left: -100%;
      -webkit-transform-origin: 100% 50% 0;
      transform-origin: 100% 50% 0; }

@keyframes ui-spinner-rotate-right {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

@keyframes ui-spinner-rotate-left {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes ui-spinner-rotate-right {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes ui-spinner-rotate-left {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

#modal, #infos {
  opacity: 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  position: absolute;
  top: 45px;
  bottom: 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 2px solid white;
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.5);
  color: black;
  padding: 0;
  margin: 5% 10%;
  width: 80%;
  height: 80%; }
  #modal p, #infos p {
    margin: 0;
    width: 90%;
    height: 100%;
    overflow: hidden;
    float: left;
    font-size: .8em; }
  #modal .closebtn, #infos .closebtn {
    float: right;
    font-weight: bold;
    font-size: 1.3em;
    color: #164766; }
    #modal .closebtn:hover, #infos .closebtn:hover {
      cursor: pointer; }
  #modal .title, #infos .title {
    background: rgba(255, 255, 255, 0.9);
    height: 35px;
    line-height: 35px;
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box; }
  #modal.open, #infos.open {
    opacity: 1; }

#infos {
  top: 50%;
  width: 40%;
  height: 400px;
  margin: -165px 30% 0;
  text-align: center; }
  #infos h2 {
    margin: 0;
    padding: 10px 0;
    display: block;
    background: white; }
  #infos a {
    display: block; }
  #infos img {
    margin-top: 10px; }
  #infos .git {
    margin-top: 20px;
    color: black;
    text-decoration: none; }
