/*
generic styles applied to any carousel
must be ul/li 
*/
.rn-carousel-container {
  overflow: hidden;
  position: relative;
}
ul.rn-carousel-slides {
  white-space: nowrap;
  overflow: visible;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  padding: 0;
  margin: 0;
}
ul.rn-carousel-slides li {
  white-space: normal;
  vertical-align:top;
  display: inline-block;
  width: 100%;
  height: 100%;
} 
.rn-carousel-animate {
  -webkit-transition: -webkit-transform .2s ease-out;
  -moz-transition: -moz-transform .2s ease-out;
  transition: transform .2s ease-out;
}
.rn-carousel-noanimate {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.rn-carousel-indicator {
  width: 100%;
  text-align:center;
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}
.rn-carousel-indicator span {
  padding: 0 5px;
  color: #333;
  transition: color .2s ease-out;
}
.rn-carousel-indicator span.active {
  color:white;
}
